<div class="popover fade right in" style="top: 90px; left: 600px; height:200px;width:200px; display: block;">
	<div class="arrow"></div>
	<h3 class="popover-title">SHARE</h3>

	<a {{action shareOnFacebook}}>
 		Share on Facebook
	</a>

	
</div>

